/*!
 *  Saturn HTML Template by @flamekaizar
 *  License (MIT License)
 */

body {
    margin-bottom: 50px;
    background-color: #1a1110;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #f0f0f0;
}
a { color: #ff9e00 }
a .fa {
  padding-left: 10px;
  padding-right: 10px;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li img.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

aside, .aside {
  display: inline;
  float: right;
  position: relative;
  width: 20vw;
  margin-right: -22vw;
  /* font-size: 16px; */
}

.btn-group button {
  font-family: "Fira Sans", sans-serif;
  border: 1px solid #ff9e00; /* Yellow border */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 100%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
/* Add a background color on hover */
.btn-group button.unpressed:hover {
  background-color: #915a00;
  color: #a1110FFF;
}
.btn-group button.unpressed {
  background-color: #a1110FFF;
}
.btn-group button.pressed {
  background-color: #3fa644;
  color: #a1110FFF;
}

.navbar li.active a, .navbar span {
    color: rgba(230, 230, 230, 0.4);
}

.fancy-button {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #1a1110;
  border: 1px solid #ff9e00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ff9e00;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
.fancy-button:hover {
	background-color: #915a00;
	color: #911d03;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.expand-button {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: #1a1110;
  border: 1px solid #ff9e00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ff9e00;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
.expand-button:hover {
	background-color: #915a00;
	color: #1a1110;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.expandable {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.expandable label {
  padding-right: 20px;
  white-space: nowrap;
}
.expandable [type="checkbox"] {
  vertical-align:middle;
}

@keyframes flash-green {
  from {color: #adadad;}
  to {color: #ff9e00;}
}

@keyframes flash-red {
  from {color: #adadad;}
  to {color: red;}
}

.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  border-radius: 4px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px;
}
/* Navigation */
.main-nav {
    padding-top: 60px;
    padding-bottom: 5px;
    background-color: #1a1110;
    -moz-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}
.group.top-nav { margin-bottom: -20px }
.group.top-nav nav a { text-decoration: none }
.group.top-nav nav a:hover {
	color: #911d03; -webkit-transition: all .25s ease-in-out;
   -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
}
/* Created by @flamekaizar */
.top-nav a.logo,
.logo {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #f0f0f0;
    letter-spacing: -2px;
}
.navigation-toggle {
    color: white;
    background-color: #1a1110;
}
.navigation-toggle .logo {
    font-size: 20px;
    text-transform: capitalize;
}
.top-nav .item-nav {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 1000;
    color: #A4A4A4;
}
.intro {
    width: 100%;
    height: 272px;
    background: url(../img/head-bg.jpg) #1a1110 no-repeat center top;
    padding-top: 117px;
    align-items: center;
}
p.p-intro {
    color: #f64d1c;
    font-family: "Fira Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 10px 25px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #DC5227;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: inset 0 -3px 0 #ffcfbc;
	-webkit-animation: smooth-entry-btn 1s;
	-moz-animation: smooth-entry-btn 1s;
	animation: smooth-entry-btn 1s;
}
img.img-intro {
    border-radius: 100px;
    width: 47px;
    background-color: #EF3A3A;
    border: 1px solid #DC5227;
    -moz-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0.5px 0.9px 5px rgba(0, 0, 0, 0.05);
    -webkit-animation: smooth-entry-btn 1s;
	-moz-animation: smooth-entry-btn 1s;
	animation: smooth-entry-btn 1s;
}
.content {
    padding-top: 75px;
    background-color: #1a1110;
}
.post { margin-bottom: 80px }
.content .post {
    color: #adadad;
    font-family: "Fira Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.content .post a { text-decoration: none }
.content .post h1 {
    color: #f0f0f0;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 400;
    position: relative;
}

/* Created by @flamekaizar */
.content .post a h1:hover{
	color: #911d03;
-webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
}
.content .post img { margin-bottom: 20px }
.content .post hr {
    content: url(../img/separator.png);
    max-width: 66px;
    height: 7px;
    border: none;
}
.content .post h1:before {
    content: url(../img/separator.png);
    position: absolute;
    top: -35px;
    left: 1px;
}
.content .post h1:after {
    content: url(../img/separator.png);
    position: absolute;
    top: 110%;
    left: 0;
}
.in-content { margin-top: 55px }
a.read-more {
    padding: 5px 10px;
    background-color: #1a1110;
    border: 1px solid #ff9e00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ff9e00;
    font-size: 13px; /* Created by @flamekaizar */
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

a.read-more:hover {
	background-color: #915a00;
	color: #1a1110;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}
.foot-post {
    position: relative;
    margin-top: 60px;
    color: #adadad;
    font-family: "Fira Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.foot-post {
    font-weight: 400;
    text-decoration: none;
    color: #adadad;
}
.foot-post a:hover {
	border-bottom: 1px dotted #ccc
}
.foot-post:before {
    content: url(../img/separator.png);
    position: absolute;
    top: -40px;
    left: 1px;
}
/* Footer */
footer .btn {
    color: #1a1110;
    font-size: 13px;
    font-family: "Fira Sans";
    font-weight: 700;
    letter-spacing: 2px;
}
footer .social li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
footer .social li a { color: #a5a5a5 }
footer .social li a:hover {
	color: #ff9e00;
}
.foot-cp { padding-top: 40px }
.foot-cp a {
    color: #A5A5A5;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

@-webkit-keyframes smooth-entry{0%{opacity:0;-webkit-transform:translateY(-1.4em)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes smooth-entry{0%{opacity:0;-moz-transform:translateY(-1.4em)}100%{opacity:1;-moz-transform:translateY(0)}}@keyframes smooth-entry{0%{opacity:0;-webkit-transform:translateY(-1.4em);-moz-transform:translateY(-1.4em);-ms-transform:translateY(-1.4em);-o-transform:translateY(-1.4em);transform:translateY(-1.4em)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes smooth-entry-reverse{0%{opacity:0;-webkit-transform:translateY(2em)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes smooth-entry-reverse{0%{opacity:0;-moz-transform:translateY(2em)}100%{opacity:1;-moz-transform:translateY(0)}}@keyframes smooth-entry-reverse{0%{opacity:0;-webkit-transform:translateY(2em);-moz-transform:translateY(2em);-ms-transform:translateY(2em);-o-transform:translateY(2em);transform:translateY(2em)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes smooth-entry-title{0%{opacity:0;-webkit-transform:translateY(-0.6em)}50%{opacity:0;-webkit-transform:translateY(-0.6em)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes smooth-entry-title{0%{opacity:0;-moz-transform:translateY(-0.6em)}50%{opacity:0;-moz-transform:translateY(-0.6em)}100%{opacity:1;-moz-transform:translateY(0)}}@keyframes smooth-entry-title{0%{opacity:0;-webkit-transform:translateY(-0.6em);-moz-transform:translateY(-0.6em);-ms-transform:translateY(-0.6em);-o-transform:translateY(-0.6em);transform:translateY(-0.6em)}50%{opacity:0;-webkit-transform:translateY(-0.6em);-moz-transform:translateY(-0.6em);-ms-transform:translateY(-0.6em);-o-transform:translateY(-0.6em);transform:translateY(-0.6em)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes smooth-entry-btn{0%{opacity:0;-webkit-transform:translateY(0.6em)}70%{opacity:0;-webkit-transform:translateY(0.6em)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes smooth-entry-btn{0%{opacity:0;-moz-transform:translateY(0.6em)}70%{opacity:0;-moz-transform:translateY(0.6em)}100%{opacity:1;-moz-transform:translateY(0)}}@keyframes smooth-entry-btn{0%{opacity:0;-webkit-transform:translateY(0.6em);-moz-transform:translateY(0.6em);-ms-transform:translateY(0.6em);-o-transform:translateY(0.6em);transform:translateY(0.6em)}70%{opacity:0;-webkit-transform:translateY(0.6em);-moz-transform:translateY(0.6em);-ms-transform:translateY(0.6em);-o-transform:translateY(0.6em);transform:translateY(0.6em)}100%{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes fof-alien{0%,100%{-webkit-transform:translateY(0)}50%{-webkit-transform:translateY(-30px)}}@-moz-keyframes fof-alien{0%,100%{-moz-transform:translateY(0)}50%{-moz-transform:translateY(-30px)}}@keyframes fof-alien{0%,100%{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}50%{-webkit-transform:translateY(-30px);-moz-transform:translateY(-30px);-ms-transform:translateY(-30px);-o-transform:translateY(-30px);transform:translateY(-30px)}}@-webkit-keyframes fof-shadow{0%,100%{-webkit-transform:scale(1)}50%{-webkit-transform:scale(0.8)}}@-moz-keyframes fof-shadow{0%,100%{-moz-transform:scale(1)}50%{-moz-transform:scale(0.8)}}@keyframes fof-shadow{0%,100%{-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8)}}
/* Responsive */
@media only screen and (max-width: 767px) {
    .intro { padding-top: 50px }
    img.img-intro {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo-w { display: none }
    .main-nav {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top-nav .item-nav li { padding-bottom: 10px }
    footer .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    footer .social { text-align: center }
    .foot-cp { padding-top: 10px }
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
